<div class="page keyword-monitoring-page">
  <header>
    <h1 class="fs-lg fw-normal">Ad Writer</h1>
    <small>You can update sites where you want to deliver your post.</small>
  </header>


  <main>

    <login-first-component></login-first-component>

    <div class="row no-guttors" *ngIf="app.user.isLogin">
      <div class="col-md-8">


        <post-create-component #postCreateComponent [parent]='self' [showContentBox]='false' (success)="onPostCreatSuccess($event)"
          [category]="'adwriter'" [caption]="'광고 글 쓰기'"></post-create-component>

        <simple-tiny #tiny [elementId]="'my-editor-id'">
        </simple-tiny>


        <hr>
      </div>
      <div class="col-md-4">
        <div class="sites ml-md-3">

          <div class="mb-2">
            Choose sites to deliver your post.
          </div>


          <div>
            <label>
            <input type="checkbox" name="showBrowser" [(ngModel)]="showBrowser">
            Show Browser
          </label>
          </div>
          <div class="fs-sm" *ngFor=" let site of sites ">
            <label class="pointer">
                          <input type="checkbox" name="{{ site.key }}" [(ngModel)]=" results[ site.key ] ">
                          {{ site.value[0] }}
                          {{ site.value[1] }}
                          {{ site.value[2] }}
                          {{ site.value[3] }}
                          <div>
                            
                              <span *ngIf=" autoPostingProcessLoader[ site.key ] === 0 "><i class="fa fa-spinner fa-spin"></i></span>
                              <span *ngIf=" autoPostingProcessLoader[ site.key ] === 1 "><i class="fa fa-check"></i></span>
                              <span *ngIf=" autoPostingProcessLoader[ site.key ] === 2 "><i class="fa fa-times"></i></span>
                            {{ autoPostingProcessMessage[ site.key ] }}
                          </div>
                        </label>
          </div>


          <div class="pointer" routerLink="/settings">
            <i class="fa fa-plus"></i> Add sites on settings
          </div>

        </div>
        <!--/sites-->
      </div>
    </div>

  </main>
</div>
