[submodule "src/angular-xapi"]
	path = src/angular-xapi
	url = https://github.com/thruthesky/angular-xapi
[submodule "auto-post/nightmare"]
	path = auto-post/nightmare
	url = https://github.com/thruthesky/nightmare
[submodule "auto-post/puppeteer-extension"]
	path = auto-post/puppeteer-extension
	url = https://github.com/thruthesky/puppeteer-extension
