[submodule "src/angular-xapi"]
	path = src/angular-xapi
	url = https://github.com/thruthesky/angular-xapi
[submodule "auto-poster-2"]
	path = auto-poster-2
	url = https://github.com/thruthesky/auto-poster-2
