<div class="page keyword-monitoring-page">
  <header>
    <h1 class="fs-lg fw-normal">{{ app.t('settings') }}</h1>
    <nav>
      <button class="btn btn-sm btn-secondary" (click)="app.user.logout()">{{ app.t('logout') }}</button>
    </nav>
  </header>

  <main>

    <div *ngIf="!app.login" class="alert alert-warning" role="alert">
      <h4 class="alert-heading">로그인을 하세요!</h4>
      <p>
        로그인을 먼저 하셔야 개인 설정을 이용 할 수 있습니다.
      </p>
      <hr>
      <p class="mb-0">
        애드라이터 버전 {{ app.version }}
      </p>
    </div>


    <div>
      Select Your Language

      <label class="custom-control custom-radio">
        <input id="radio1" name="language" type="radio" class="custom-control-input" [checked]=" app.ln.getLanguage() == 'en' " (click)="app.ln.setLanguage('en')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">English</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radio2" name="language" type="radio" class="custom-control-input" [checked]=" app.ln.getLanguage() == 'ko' " (click)="app.ln.setLanguage('ko')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Korean</span>
      </label>

    </div>





    <div class="mb-5">

      <ul class="list-group">
        <li class="list-group-item active">
          <div class="d-flex justify-content-between">
            <div>{{ app.t('auto_sites') }}</div>
            <div class='pointer' (click)="showSiteFormBox = !showSiteFormBox"><i class="fa fa-plus"></i> {{ app.t('add') }}</div>
          </div>
        </li>

        <li class="list-group-item" *ngIf="showSiteFormBox">
          <small class="muted">{{ app.t('auto_sites_desc') }}</small>
          <input class="w-100" name="siteInputValue" [(ngModel)]="siteInputValue" (keyup.enter)="onSubmitSiteAdd( )">
        </li>

        <li class="list-group-item" *ngFor="let site of siteValue ">
          <div class="d-flex justify-content-between">
            <div>{{ site.value }}</div>
            <div class="pointer" (click)="onClickSiteDelete( site.key )"><i class="fa fa-times"></i></div>
          </div>
        </li>

      </ul>

    </div>





    <div class="mb-5">

      <ul class="list-group">
        <li class="list-group-item active">강조 표시 아이디 입력</li>
        <li class="list-group-item">
          <input class="w-100" name="first" [(ngModel)]="first" #ff (keyup)="typingEmphasis.next({ first: ff.value })" placeholder="아이디를 입력하세요.">
        </li>
        <li class="list-group-item">
          <input class="w-100" name="second" [(ngModel)]="second" #se (keyup)="typingEmphasis.next({ second: se.value })" placeholder="아이디를 입력하세요.">
        </li>
        <li class="list-group-item">
          <input class="w-100" name="third" [(ngModel)]="third" #th (keyup)="typingEmphasis.next({ third: th.value })" placeholder="아이디를 입력하세요.">
        </li>
        <li class="list-group-item">
          <input class="w-100" name="forth" [(ngModel)]="forth" #fo (keyup)="typingEmphasis.next({ forth: fo.value })" placeholder="아이디를 입력하세요.">
        </li>
        <li class="list-group-item">
          <input class="w-100" name="fifth" [(ngModel)]="fifth" #fi (keyup)="typingEmphasis.next({ fifth: fi.value })" placeholder="아이디를 입력하세요.">
        </li>
      </ul>

      <small class="muted">강조 표시 할 아이디를 입력하세요. 키워드 모니터링이나 통계에서 아이디가 강조 표시됩니다. 꼭 나의 아이디가 아닌, 경쟁자의 아이디를 입력해도 됩니다. 최대 5 개 까지 입력 할 수 있습니다.</small>

    </div>

    <div>

      <div class="pointer mb-2 btn btn-sm btn-secondary" (click)="showKeywords=!showKeywords">사용 가능한 키워드 보기</div>

      <div *ngIf="showKeywords">
        사용 가능한 네이버 데스크톱 지식인 키워드.
        <ul>
          <li *ngFor=" let keyword of naverDesktopKeywords ">
            {{ keyword }}
          </li>
        </ul>
        사용 가능한 네이버 모바일 블로그 + 지식인 키워드.
        <ul>
          <li *ngFor=" let keyword of naverMobileKeywords ">
            {{ keyword }}
          </li>
        </ul>
      </div>
    </div>


    <hr>
    <div>
      <ul class="list-group">
        <li class="list-group-item active">순위 집계할 키워드</li>

        <li class="list-group-item">
          <div>
            <label class="fs-sm">네이버 데스크톱 통합검색 지식인 순위 집계 할 키워드</label>
            <input class="w-100" [(ngModel)]="naverDesktopKeywords" #ndc (keyup)="typingCollectKeywords.next({path:'naver-kin-desktop', value: ndc.value })">
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <label class="fs-sm">네이버 모바일 통합검색 블로그+지식인 순위 집계할 할 키워드</label>
            <input class="w-100" [(ngModel)]="naverMobileKeywords" #nmc (keyup)="typingCollectKeywords.next({path:'naver-kin-mobile', value: nmc.value })">
          </div>
        </li>
      </ul>



      <small class="muted">
          콤마로 구분하여 입력하세요. (나중에) 가나다 순서로 자동 정렬 됨. 주의: 각 항목별로 키워드를 20개 이상 입력하면 부하가 거릴 수 있으므로.
        </small>
    </div>


    <hr>
    <div>
      <ul class="list-group">
        <li class="list-group-item active">순위 모니터링 할 키워드</li>


        <li class="list-group-item">
          <div>
            <label class="fs-sm">네이버 데스크톱 통합검색 지식인 모니터링 할 키워드</label>
            <input class="w-100" [(ngModel)]="naverDesktopMonitoringKeywords" #ndmk (keyup)="typingMonitoringKeywords.next({desktop: ndmk.value })">
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <label class="fs-sm">네이버 모바일 통합검색 블로그+지식인 모니터링 할 키워드</label>
            <input class="w-100" [(ngModel)]="naverMobileMonitoringKeywords" #nmmk (keyup)="typingMonitoringKeywords.next({mobile: nmmk.value })">
          </div>
        </li>
      </ul>





      <small class="muted">
          모니터링 할 키워드는, 순위 집계 키워드 중에서 선택하시면 됩니다.
          콤마로 구분하여 여러개를 입력 할 수 있으며 입력된 순서대로 표시가 됩니다.
          키워드를 지정하지 않으면 선택 가능한 모든 키워드가 모니터링됩니다.
        </small>
    </div>

  </main>
</div>
