<div class="fixed-top bg-white" id='top-menu'>
  <ul class="nav">
    <li class="nav-item">
      <a *ngIf=" app.user.isLogout " class="nav-link" href="#" routerLink='/'>{{ app.t('login') }}</a>

      <div ngbDropdown class="d-inline-block" *ngIf=" app.user.isLogin ">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ app.truncate(app.user.name, 10) }}</button>
        <div class="extra-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" routerLink="/">{{ app.t('home') }}</button>
            <button class="dropdown-item" (click)=" app.user.logout() ">{{ app.t('logout') }}</button>
          <button class="dropdown-item" routerLink="/settings">{{ app.t('settings') }}</button>
        </div>
      </div>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/write">{{ app.t('write') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/keyword">{{ app.t('keyword') }}</a>
    </li>
    <li class="nav-item">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ app.t('extra') }}</button>
        <div class="extra-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/naver-keyword-rank-monitor">네이버 순위 모니터링</button>
          <button class="dropdown-item" routerLink="/keyword">네이버 순위 통계</button>
          <button class="dropdown-item">다음 (준비중)</button>
          <a class="dropdown-item" href="https://docs.google.com/document/d/1D3OqV0OPQMGLWQR0jUIofk_vC7yeJnF-NkGGBpFoItQ/edit?usp=sharing" target="_blank">도움말</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link grey" href="#" routerLink="/settings">{{ app.t('settings') }}</a>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
