<div class="fixed-top bg-white" id='top-menu'>
  <ul class="nav">
      <li class="nav-item">
          <a *ngIf=" ! app.login " class="nav-link" href="#" routerLink='/'>Login</a>
          <a *ngIf="app.login" class="nav-link" href="#" routerLink='/'>{{ app.user.id }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Write</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/keyword">Keyword</a>
    </li>
    <li class="nav-item">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Extra</button>
        <div class="extra-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" routerLink="/naver-keyword-rank-monitor">Naver Keyword Rank Monitor</button>
          <button class="dropdown-item" routerLink="/keyword">Naver Keyword Rank Statistics</button>
          <button class="dropdown-item">Daum ...</button>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link grey" href="#" routerLink="/settings">Settings</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
