<div class="page home-page">
  <header>
    <h1 class="title">
      {{ app.t('ad_writer') }}
    </h1>
    <small>{{ app.t('ad_writer_desc') }}</small>

    <nav>
      <button class="settings" class="btn btn-sm btn-secondary">{{ app.t('version', {version: app.version}) }}</button>
    </nav>
  </header>

  <main>


    <div *ngIf="app.user.isLogin">
      {{ app.t('welcome', { name: app.user.name }) }}
    </div>
    <div *ngIf=" app.user.isLogout ">
      <form (ngSubmit)="onSubmitLogin()">
        <div class="form-group">
          <label for="home-id">{{ app.t('login_id') }}</label>
          <input type="text" name="id" [(ngModel)]="id" class="form-control" id="home-id" placeholder="{{ app.t('login_id_holder') }}">
          <small class="form-text text-muted">{{ app.t('login_id_desc') }}</small>
        </div>

        <div class="form-group">
          <label for="home-password">{{ app.t('password') }}</label>
          <input type="password" name="password" [(ngModel)]="password" class="form-control" id="home-password" placeholder="{{ app.t('password_holder') }}">
        </div>
        <button type="submit" class="btn btn-primary">{{ app.t('login') }}</button>
      </form>
    </div>

  </main>
</div>
